@using System.Collections
@using System.Data.Entity
@using Imzist.Data
@using Imzist.Web.Helpers
@model Imzist.Web.Models.ListingsViewModel

@section styles
{
    <style>
        .bs-sidebar .affix {
	        position: fixed; 
	        top: 70px;
	        left: 62px;
	        width: 360px;
        }
        .bs-sidebar .affix-top {
	        position: fixed; 
	        top: 70px;
	        left: 62px;
	        width: 360px;
        }
        .bs-sidebar .affix-bottom {
	        position: absolute;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <div class="bs-sidebar affix" id="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="bs-sidebar affix" id="stickySidebar" style="background-color: #f0eeec; padding: 4px; padding-left: 8px; padding-right: 8px; margin-top: 70px; border-radius: 15px; width: 120px; margin-left: 0;">
                    <ul id="categories" class="nav bs-sidenav nav-pills nav-stacked">
                        <li>@Html.RouteLink("All", new {category = "",location = LocationResolver.GetLocation().Name, controller = "Listings", action= "Index"})</li>
                        <hr style="border-color: black; height: 1px; margin: 4px;" />
                        @foreach (Category category in @Model.Categories)
                        {
                            <li>@Html.RouteLink(category.Name, new {category = category.Name, location = LocationResolver.GetLocation().Name, controller = "Listings", action="Index"})</li>
                            if (category != Model.Categories.Last())
                            {
                                <hr style="border-color: black; height: 1px; margin: 4px;" />
                            }
                        }
                    </ul>
                </div>
                <!--well bs-sidebar affix-->
            </div>
            <!--col-md-3-->
        </div>
        <div class="col-lg-11" id="listings">
            <div style="text-align: center;">
                <h1 style="color: white; margin-top: 80px; margin-bottom: 20px;">@LocationResolver.GetLocation().Name</h1>
            </div>
            <div id="allItems">
                @foreach (Item item in @Model.Items)
                {
                    var image = "https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120";
                    
                    if (item.Images.FirstOrDefault() != null)
                    {
                        image = "/Content/images/thumbnail/" + item.Images.First().Name;
                    }
                    
                    <div class="listItem" style="cursor: pointer; background: #f6f3e8; border-radius: 15px; padding-top: 10px; padding-bottom: 10px; margin-right: 25px; margin-bottom: 25px;">
                        <div class="clearfix" style="padding-left: 30px; padding-top: 10px; padding-bottom: 10px;">
                            @*                            <img class="img-rounded" src="@item.Images.FirstOrDefault()" style="width: 25px; height: 25px;"/>*@
                            <img class="img-rounded pull-left" src="@image" style="height: 90px; margin-right: 20px;"/>
                            <p class="pull-right" style="margin-right: 40px; margin-top: 15px;">@item.Description</p>
                            <input hidden value="@item.Id"/>
                            <div>
                                <div class="col-md-3">
                                    <h4>@item.Title</h4>
                                </div>
                                <div class="col-md-3">
                                    <h5>@item.PostedDate</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--row-->
        <div class="col-md-4"></div>
    </div>
</div>


@section scripts
{
    <script>
        $(function() {
            var lis = $('.nav > li');
            menu_focus(lis[1], 4);

            $("#stickySidebar").css("margin-left", (($("#listings").offset().left / 2) - $("#stickySidebar").width()));

            $(window).resize(function() {
                $("#stickySidebar").css("margin-left", (($("#listings").offset().left / 2) - $("#stickySidebar").width()));
            });

            $(".listItem").click(function() {
                var itemId = $(this).find("input").val();
                window.location = "/@LocationResolver.GetLocation().Name/Item/" + itemId;
            });
//
//            $("#categories li").click(function () {
//                $.ajax({
//                    url: "/Views/Listings/CategoryClick",
//                    type: 'POST',
//                    data: {
//                        "category": $(this).attr("name"),
//                        "location": location
//                    },
//                    success: function (items) {
//                        $(items).each(function(item) {
//                            $("#allItems").empty();
//
//                            var image = "https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120";
//                    
//                            if (item.Images != null)
//                            {
//                                image = item.Images;
//                            }
//                            
//                            $("#allItems").append(
//                            "<div id='listItem' style='background: #f6f3e8; border-radius: 15px; padding-top: 10px; padding-bottom: 10px; margin-right: 25px; margin-bottom: 25px;'>"
//                            + "<div class='clearfix' style='padding-left: 30px; padding-top: 10px; padding-bottom: 10px;'>"
//                            + "<img class='img-rounded pull-left' src='" + image + "' style='width: 90px; height: 90px; margin-right: 20px;'/>"
//                            + "<p class='pull-right' style='margin-right: 40px; margin-top: 15px;'>" + item.Description + "</p>"
//                            + "<div>"
//                            + "<div class='col-md-3'><h4>" + item.Title + "</h4></div>"
//                            + "<div class='col-md-3'><h5>" + item.PostedDate + "</h5></div>"
//                            + "</div>"
//                            +"</div>"
//                            +"</div>"
//                            );
//                        });
//                    }
//                });
//            });
        });
    </script>
}
