@using Imzist.Web.Helpers
@model Imzist.Web.Models.ItemListingViewModel


<form method="POST" action="/@LocationResolver.GetLocation().Name/Item/@ViewData["url"]" enctype="multipart/form-data" style="color: white; font-size: 150%;">         
    <div class="col-lg-3">
        @if (ViewData["type"].ToString() == "edit")
        {
   
            <input type="hidden" name="Item.Id" value='@Model.Item.Id' />
        }
       

    
        <label for="Item.Title">Title</label>
        <input id="itemTitle" type="text" class="form-control" name="Item.Title" value="@Model.Item.Title"/>
        <label for="Item.CategoryId">Category</label>
        <select class="form-control" name="Item.CategoryId">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <label for="expirationDays">Expiration</label>
        <select class="form-control" name="expirationDays" style="margin-bottom: 20px;">
            @foreach (int i in new[] { 7,14,30 })
            {
                <option @if (DateTime.Now.Subtract(Model.Item.PostedDate).Days >= i)
                        {
                            @:selected="selected"
                        } value="@i">@i Days</option>
            }
    
        </select>
    </div>
    <div class="col-lg-6">
        <label for="Item.Description">Description</label>
        <textarea class="form-control" name="Item.Description" rows="10">@Model.Item.Description</textarea>
    </div>

    <div class="col-lg-2" id="imgContainer">
        <label>Select Images</label>
        @foreach (var image in Model.Item.Images)
        {
            <div class="savedImg"><img src="~/Content/images/thumbnail/@image.Name"/>
                <input type="button" name="deleteImg" value="Remove this image"/>
            </div>
        }
        @* only allow 5 images per item *@ 
        @for (int i = 0; i < 5 - Model.Item.Images.Count; i++)
        {
            <input type="file" name="Images[@i]" style="margin-bottom: 17px;" />
              
        }
    </div>

    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 25px;">
        <button id="submitButton" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
</form>
               
