@using Imzist.Web.Helpers
@model Imzist.Web.Models.ItemListingViewModel


<form method="POST" action="/@LocationResolver.GetLocation().Name/Item/@ViewData["url"]" enctype="multipart/form-data" style="color: white; font-size: 150%;">         
    <div class="col-lg-3">
        @if (ViewData["type"].ToString() == "edit")
        {
   
            <input type="hidden" name="Item.Id" value='@Model.Item.Id' />
        }
       

    
        <label for="Item.Title">Title</label>
        <input id="itemTitle" type="text" class="form-control" name="Item.Title" value="@Model.Item.Title"/>
        <label for="Item.CategoryId">Category</label>
        <select class="form-control" name="Item.CategoryId">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <label for="expirationDays">Expiration</label>
        <select class="form-control" name="expirationDays" style="margin-bottom: 20px;">
            <option value="0" selected="selected">Original Expiration (in @Model.Item.ExpirationDate.Subtract(Model.Item.PostedDate).Days days)</option>
            @foreach (int i in new[] { 7,14,30 })
            {
                <option value="@i">@i Days</option>
            }
    
        </select>
    </div>
    <div class="col-lg-6">
        <label for="Item.Description">Description</label>
        <textarea class="form-control" name="Item.Description" rows="10">@Model.Item.Description</textarea>
    </div>

    <div class="col-lg-2" id="imgContainer">
       
        
        <div class="col-lg-3">
                        <label>Select Images</label>
                        <div class="row">
                            @foreach (var image in Model.Item.Images)
                            {
                                <div class="savedImg col-sm-10"><img src="~/Content/images/thumbnail/@image.Name"/>
                                   <div class="col-sm-1">
                                        <input type="button" name="deleteImg" data-imgid="@(image.Id)" value="Remove this image"/>
                                   </div>
                             </div>
                            }
                        </div>
                        
                      
                          @* only allow 5 images per item, client side validation ftw *@ 
                         @for (int i = 0; i < 5 - Model.Item.Images.Count; i++)
                             
                         {
                            <div class="row" style="padding-top:14px;">
                                <div class="col-sm-10">
                                 <input class="image@(i+1)" type="text" disabled="disabled" style="width:210px; height: 35px;">
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-primary browsebutton" data-imageid="@(i+1)">Browse</a>
                                </div>
                            </div>
                            <input type="file" id="image@(i+1)" name="Images[@i]" style="display: none;" />
                         }
                    </div>
       
    </div>

    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 25px;">
        <button id="submitButton" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
</form>
               
