<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Imzist</title> 
	<meta name="description" content="Imzist - Online Freebay" />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="">

	<link rel="stylesheet" type="text/css" href="~/Content/Munter/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/Munter/fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="~/Content/Munter/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="~/Content/Munter/css/style.css">	
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	
	<link rel="prefetch" href="~/Content/Munter/images/zoom.png">
	<title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        
        <div class="navbar navbar-fixed-top" data-activeslide="1">
	        <div class="container">
		
		    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
			
		        <div class="nav-collapse collapse navbar-responsive-collapse" style="background: none;">
			        <ul class="nav row">
				        <li class="col-12 col-sm-2"><a id="menu-link-1" href="/Views/Home/Index" title="Next Section"> <span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
			            <li class="col-12 col-sm-2 dropdown" id="menu-link-2">
			                <a id="menu-link-2" href="#" title="Next Section" class="dropdown-toggle" data-toggle="dropdown">
			                    <span class="icon icon-map-marker"></span> <span class="text">Locations</span>
			                    <b class="caret"></b>
			                </a>
			                <ul class="dropdown-menu" id="dropdown-menu">
			                    <li><a href="/Brooklyn/Listings">Brooklyn</a></li>
			                    <li><a href="/Lakewood/Listings">Lakewood</a></li>
			                    <li><a href="/Monsey/Listings">Monsey</a></li>
			                </ul>
			            </li>
			            <li class="col-12 col-sm-2"><a id="menu-link-3" href="#" title="Next Section"><span class="icon icon-laptop"></span> <span class="text">Account</span></a></li>
                        <li class="col-12 col-sm-2"><a id="menu-link-4" href="#" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">Contact</span></a></li>
                        <li class="col-12 col-sm-2"><a id="menu-link-5" href="#" title="Next Section"><span class="icon icon-user"></span> <span class="text">The Team</span></a></li>
				        <!-- <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">PORTFOLIO</span></a></li>
				        <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">PROCESS</span></a></li>
				        <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-heart"></span> <span class="text">CLIENTS</span></a></li>
				        <li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li> -->
			        </ul>
			        <div class="row">
				        <div class="col-sm-2 active-menu"></div>
			        </div>
		        </div><!-- /.nav-collapse -->
	        </div><!-- /.container -->
        </div><!-- /.navbar -->

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        
        <!-- SCRIPTS -->
	    <script src="~/Content/Munter/js/html5shiv.js"></script>
	    <script src="~/Content/Munter/js/jquery-1.10.2.min.js"></script>
	    <script src="~/Content/Munter/js/jquery-migrate-1.2.1.min.js"></script>
	    <script src="~/Content/Munter/js/bootstrap.min.js"></script>
	    <script src="~/Content/Munter/js/jquery.easing.1.3.js"></script>
	    <script type="text/javascript" src="~/Content/Munter/fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	    <script src="~/Content/Munter/js/script.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
